In [1]:
import numpy as np

In [2]:
import pandas as pd
df = pd.read_csv('data\loan-data.csv')
df.head(10)

,id,issue_d,loan_amnt,loan_status,funded_amnt,term,installment,int_rate,grade,sub_grade,verification_status,url,addr_state,total_pymnt
0,48010226,2022-05-15,35000.0,Current,35000.0,36 months,1184.86,13.33,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,CA,9452.96
1,57693261,NaN,30000.0,Current,30000.0,36 months,938.57,0.89,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY,4679.70
2,59432726,2022-09-15,15000.0,Current,15000.0,36 months,494.86,0.53,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,PA,1969.83
3,53222800,2022-07-15,9600.0,Current,9600.0,36 months,300.35,0.89,A,A5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH,1793.68
4,57803010,2022-08-15,8075.0,Current,8075.0,36 months,296.78,19.19,NaN,E3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX,1178.51
5,63398019,2022-10-15,14400.0,Current,14400.0,60 months,334.99,13.99,NaN,C4,Not Verified,https://www.lendingclub.com/browse/loanDetail....,AL,681.17
6,60850626,2022-09-15,NaN,Current,13000.0,60 months,381.50,24.99,F,F4,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA,1126.45
7,46816139,2022-04-15,7500.0,Current,7500.0,36 months,253.90,13.33,C,C3,NaN,https://www.lendingclub.com/browse/loanDetail....,GA,2025.65
8,63918356,2022-11-15,8000.0,Current,8000.0,36 months,250.29,0.89,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,MA,497.07
9,63651616,2022-11-15,7200.0,Current,7200.0,36 months,241.18,0.59,C,C2,NaN,https://www.lendingclub.com/browse/loanDetail....,TX,512.57

In [3]:
df.isna().sum()

id                       0
issue_d                500
loan_amnt              500
loan_status            500
funded_amnt            500
term                   500
installment            501
int_rate                 0
grade                  515
sub_grade              514
verification_status    500
url                      0
addr_state             500
total_pymnt            500
dtype: int64

In [4]:
# id
df.sort_values(by="id", inplace=True)

In [5]:
# issue_date
df['issue_d'] = pd.DatetimeIndex(df['issue_d']).month
df.rename(columns={'issue_d':'issue_date'}, inplace = True)

In [6]:
# read conversion file and make average of all the open, close, high and low column
rate = pd.read_csv("data/EUR-USD.csv")
rate['avg'] = (rate['Open'] + rate['High'] + rate['Low'] + rate['Close'])/4
print(rate)

        Open      High       Low     Close  Volume       avg
0   1.209863  1.209863  1.110556  1.128796       0  1.164769
1   1.128796  1.148419  1.117681  1.120536       0  1.128858
2   1.119796  1.124040  1.046003  1.083025       0  1.093216
3   1.074102  1.124759  1.052160  1.111432       0  1.090613
4   1.121504  1.145305  1.082200  1.096035       0  1.111261
5   1.095902  1.142840  1.088890  1.122297       0  1.112482
6   1.113499  1.122000  1.081270  1.093924       0  1.102673
7   1.096900  1.170600  1.085031  1.134005       0  1.121634
8   1.122599  1.146000  1.108970  1.125594       0  1.125791
9   1.117156  1.149420  1.091000  1.100897       0  1.114618
10  1.102499  1.106000  1.056400  1.058302       0  1.080800
11  1.057295  1.107000  1.054200  1.093398       0  1.077973

In [7]:
# exchange_rate

df['issue_date'] = df['issue_date'].fillna(1)
df['issue_date'] = df['issue_date'].astype('int')

rate_series = pd.Series(rate.avg.values, index=rate.index.values).to_dict()

def ex_rate(value):
    for month, r in rate_series.items():
        if value == (month+1):
            return r
        
int_grades = df["issue_date"].map(ex_rate)
df["exchange_rate"] = pd.Categorical(
    int_grades
)

df

,id,issue_date,loan_amnt,loan_status,funded_amnt,term,installment,int_rate,grade,sub_grade,verification_status,url,addr_state,total_pymnt,exchange_rate
2086,373332,10,9950.0,Current,NaN,36 months,360.97,18.25,E,E1,Not Verified,https://www.lendingclub.com/browse/loanDetail....,CA,1072.82,1.114618
4812,575239,10,12000.0,Current,12000.0,60 months,324.58,20.99,E,NaN,Verified,https://www.lendingclub.com/browse/loanDetail....,MD,959.75,1.114618
2353,707689,2,10000.0,Current,10000.0,36 months,340.13,13.66,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,NaN,3726.25,1.128858
6001,709828,10,27200.0,Current,27200.0,60 months,553.87,0.18,B,B1,Not Verified,https://www.lendingclub.com/browse/loanDetail....,PA,NaN,1.114618
325,849994,3,11400.0,NaN,11400.0,36 months,376.09,0.53,B,B5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,CA,3753.60,1.093216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4057,68603178,12,14000.0,Issued,14000.0,36 months,421.61,0.32,A,A1,Not Verified,https://www.lendingclub.com/browse/loanDetail....,CA,NaN,1.077973
363,68604253,12,20000.0,Issued,20000.0,36 months,631.26,0.49,B,B1,Not Verified,https://www.lendingclub.com/browse/loanDetail....,FL,0.00,1.077973
4935,68614880,12,5600.0,Issued,5600.0,36 months,180.18,9.00,NaN,B3,Verified,https://www.lendingclub.com/browse/loanDetail....,WA,0.00,1.077973
9388,68615915,12,4000.0,Issued,4000.0,36 months,131.87,0.48,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,AR,0.00,1.077973
8415,68616519,12,21600.0,Issued,21600.0,36 months,666.85,0.99,NaN,A3,Not Verified,https://www.lendingclub.com/browse/loanDetail....,TX,0.00,1.077973

In [8]:
# loan_amnt

df['loan_amnt'] = df['loan_amnt'].astype('float')
df['exchange_rate'] = df['exchange_rate'].astype('float')

df['loan_amnt'] = df['loan_amnt'].fillna(df['loan_amnt'].max()) 

df['loan_amnt_EUR'] = df['loan_amnt'] * df['exchange_rate']
df.rename(columns={'loan_amnt':'loan_amnt_USD'}, inplace = True)

In [9]:
# loan_status

df['loan_status'] = df['loan_status'].fillna('Charged Off') 
df['loan_status'] = df['loan_status'].astype('str')

def status(value):
    if value == "Charged Off" or value[0:4] == "Late":
        return 1
    else :
        return 0

loan_status = df["loan_status"].map(status)
df["loan_status"] = pd.Categorical(
    loan_status
)

df.head(20)

# filled empty spaces in this column with 0 indicating 'current or not paid' (assume worse case)

,id,issue_date,loan_amnt_USD,loan_status,funded_amnt,term,installment,int_rate,grade,sub_grade,verification_status,url,addr_state,total_pymnt,exchange_rate,loan_amnt_EUR
2086,373332,10,9950.0,0,NaN,36 months,360.97,18.25,E,E1,Not Verified,https://www.lendingclub.com/browse/loanDetail....,CA,1072.82,1.114618,11090.453285
4812,575239,10,12000.0,0,12000.0,60 months,324.58,20.99,E,NaN,Verified,https://www.lendingclub.com/browse/loanDetail....,MD,959.75,1.114618,13375.421047
2353,707689,2,10000.0,0,10000.0,36 months,340.13,13.66,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,NaN,3726.25,1.128858,11288.579106
6001,709828,10,27200.0,0,27200.0,60 months,553.87,0.18,B,B1,Not Verified,https://www.lendingclub.com/browse/loanDetail....,PA,NaN,1.114618,30317.621040
325,849994,3,11400.0,1,11400.0,36 months,376.09,0.53,B,B5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,CA,3753.60,1.093216,12462.661403
1410,1312426,4,15000.0,0,15000.0,60 months,361.67,15.61,D,D1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY,2880.35,1.090613,16359.201372
589,4526500,4,10800.0,0,10800.0,36 months,328.22,0.93,A,A1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NC,2950.42,1.090613,11778.624988
5985,6736790,1,18000.0,0,18000.0,60 months,370.78,0.67,B,B1,Verified,https://www.lendingclub.com/browse/loanDetail....,CA,4432.02,1.164769,20965.846717
8189,8138291,2,10350.0,1,NaN,60 months,291.72,22.99,F,F1,Verified,https://www.lendingclub.com/browse/loanDetail....,NY,1432.16,1.128858,11683.679375
3021,8214572,2,7000.0,0,7000.0,36 months,233.81,0.39,C,C1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TN,7300.41,1.128858,7902.005374
5208,12606806,6,24975.0,0,24975.0,60 months,549.65,0.53,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,TX,3831.55,1.112482,27784.248653
8036,13026045,2,12000.0,0,12000.0,60 months,275.07,0.00,C,C3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,SC,2799.58,1.128858,13546.294928
3709,14187903,2,12000.0,0,12000.0,60 months,279.16,13.99,C,NaN,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY,2846.33,1.128858,13546.294928
4966,14428496,1,21000.0,0,21000.0,60 months,471.29,0.39,C,C1,Verified,https://www.lendingclub.com/browse/loanDetail....,NY,5155.28,1.164769,24460.154504
8487,14470171,4,21000.0,0,21000.0,36 months,687.42,0.99,B,B4,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA,NaN,1.090613,22902.881920
5827,14550531,10,32000.0,0,32000.0,36 months,1005.43,0.18,B,B1,Verified,https://www.lendingclub.com/browse/loanDetail....,NaN,3089.00,1.114618,35667.789459
1745,14669896,1,21500.0,0,21500.0,60 months,482.51,0.39,C,C1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA,23855.94,1.164769,25042.539135
7070,15389420,3,15000.0,1,15000.0,60 months,348.95,13.99,C,C4,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OK,NaN,1.093216,16398.238689
9364,16130931,5,20000.0,0,20000.0,36 months,677.07,13.33,C,NaN,Verified,https://www.lendingclub.com/browse/loanDetail....,NY,21119.05,1.111261,22225.213051
6468,19137119,6,27000.0,0,27000.0,60 months,586.92,0.99,B,B4,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA,4075.47,1.112482,30037.025571

In [10]:
# funded_amnt

df['funded_amnt'] = df['funded_amnt'].astype('float')

df['funded_amnt'] = df['funded_amnt'].fillna(df['funded_amnt'].max()) 

df['funded_amnt_EUR'] = df['funded_amnt'] * df['exchange_rate']
df.rename(columns={'funded_amnt':'funded_amnt_USD'}, inplace = True)

In [11]:
# term

df['term'] = df['term'].fillna('60 months') # assume worst case here
df['term'] = df['term'].astype('str')

df['term'] = df['term'].str.slice(0,3)
df['term'] = df['term'].astype('int')

df.rename(columns={'term':'term_months'}, inplace = True)

In [12]:
# sub_grade

df['sub_grade'] = df['sub_grade'].fillna(df['grade']+'5') # fill sub_grades with worst level of grades
df['sub_grade'] = df['sub_grade'].fillna('36') # fill subgrades with no grades as worst-case

df['sub_grade'] = df['sub_grade'].astype('str')

grades = {
    "A" : 0,
    "B" : 5,
    "C" : 10,
    "D" : 15,
    "E" : 20,
    "F" : 25,
    "G" : 30
}

def grade_mapping(value):
    for key, num in grades.items():
        if value[0] == key:
            return num + int(value[1])
        
int_grades = df["sub_grade"].map(grade_mapping)
df["sub_grade"] = pd.Categorical(
    int_grades
)


# when filling in missing grade values, replace empty spaces with 36

In [34]:
group = df[["int_rate", "sub_grade"]].groupby("sub_grade").max()
group

           int_rate
sub_grade
1.0            6.00
2.0            0.49
3.0            0.99
4.0            0.92
5.0            6.00
6.0            0.67
7.0            0.49
8.0            9.00
9.0            0.99
10.0           0.99
11.0          12.00
12.0           0.99
13.0          13.66
14.0          14.31
15.0          14.99
16.0          15.77
17.0          16.59
18.0          17.27
19.0          17.97
20.0          18.49
21.0          18.99
22.0          19.48
23.0          19.99
24.0          20.99
25.0          21.99
26.0          22.99
27.0          23.99
28.0          24.24
29.0          24.99
30.0          25.99
31.0          26.99
32.0          27.49
33.0          27.88
34.0          28.49
35.0          28.99

In [ ]:
# int_rate

df['int_rate'] = df['int_rate'].fillna(df["sub_grade"]) 
df ['int_rate'] = df ['int_rate'] / 100

In [ ]:
# installment

df['installment'] = df['installment'].astype('float')

df['installment'] = df['installment'].fillna(df['loan_amnt']*df['int_rate']/df['term']) 

df['installment_EUR'] = df['installment'] * df['exchange_rate']
df.rename(columns={'installment':'installment_USD'}, inplace = True)

In [ ]:
# grade
df.drop(columns=["grade"], inplace=True)

In [ ]:
# verification_status

df['verification_status'] = df['verification_status'].astype('str')

def isVerified(value):
    if value == "Not Verified" or value == "nan":
        return 1
    else :
        return 0

ver_status = df["verification_status"].map(isVerified)
df["verification_status"] = pd.Categorical(
    ver_status
)

# filled empty spaces in this column with 0 indicating 'not verified' (assume worse case)

In [ ]:
# url
df.drop(columns=["url"], inplace=True)

In [ ]:
df['addr_state'].mode()

In [ ]:
# addr_state

regions = {
    "East" : ["PA", "NY", "VT", "NH", "ME", "MA", "RI", "CT", "NJ"],
    "West" : ["WA", "OR", "CA", "NV", "ID", "MT", "WY", "UT", "AZ", "NM", "CO", "AK"],
    "Midwest" : ["ND", "SD", "NE", "KS", "MN", "IA", "MO", "IL", "WI", "IN", "MI", "OH"],
    "South" : ["OK", "TX", "AR", "LA", "MS", "TN", "KY", "AL", "FL", "GA", "SC", "NC", "VA", "WV", "DC", "MD",
              "DE", "HI"]
}

df['addr_state'] = df['addr_state'].fillna('CA') 

def region_mapping(value):
    for region, states in regions.items():
        for state in states:
            if value == state:
                return region

reg_map = df["addr_state"].map(region_mapping)
df["addr_state"] = pd.Categorical(
    reg_map
)

df.rename(columns={'addr_state':'state_address'})

In [ ]:
# total_pymnt

df['total_pymnt'] = df['total_pymnt'].astype('float')

df['total_pymnt'] = df['total_pymnt'].fillna(0) 

df['total_pymnt_EUR'] = df['total_pymnt'] * df['exchange_rate']
df.rename(columns={'total_pymnt':'total_pymnt_USD'}, inplace = True)

In [ ]:
df.isna().sum()